<div class="dark-wrapper page-title">
  <div class="container inner">
    <h1><%= t('menu.how_to_start') %></h1>
  </div>
  <!--/.container -->
</div>
<div class='container inner'>
  <div class='col-sm-8'>
    <h2>Chcesz spróbować Jogi ?</h2>
    <p>
      Praktykę jogi może rozpocząć każdy. Nie ma znaczenia, jeżeli jesteś mało elastyczna/y, ani ile masz lat. Zawsze jest od czego zacząć. Nauka podstaw synchronizacji ruchu z oddechem (vinyasa) pomoże ci stać się bardziej świadomym swojego ciała. Stała praktyka, łączenie oddechu z ruchem, powoli, powoli, sprawi, że mięśnie i ścięgna staną się bardziej elastyczne i zaczniesz budować swoją praktykę. Ashtanga Yoga to praktyka osobista - oznacza to, że każdy praktykujący wykonuje ją na swoim poziomie, podczas gdy nauczyciel prowadzi cię głebiej w praktyke jogi i czuwa nad twoim bezpieczeństwem. Jeżeli dopiero zaczynasz, twoja praktyka zacznie się na głębokim oddechu i zbudowaniu bezpiecznej i stabilnej praktyki. Praktyka Jogi wpływa pozytywnie na twoje ciało i umysł, robiąc je zdrowszym i bardziej zrelaksowanym, pozostawia uczucie spokoju i rozluźnienia.
    <p>
  </div>

  <div class='col-sm-4'>
    <img class='brick-image' src="/images/beginners_info.jpg" alt="artur in urdhva hastasana" /> 
  </div>

</div>
