<div class="dark-wrapper page-title">
<div class="container inner">
  <h1><%= t('menu.events') %></h1>
</div>
<!--/.container -->
</div>
<div class='container inner'>
  <div class='col-sm-6'>
    <a href='http://swietojogi.pl'>
      <img src='/images/MDJwT.jpg' />
    </a>
  </div>
</div>

