<div class="dark-wrapper page-title">
  <div class="container inner">
    <h1><%= t('menu.teachers') %></h1>
  </div>
  <!--/.container -->
</div>
<div class="container inner"> 
    <div class="col-sm-6"><img class="brick-image" src="/images/about_elo.JPG" alt="schedule" />
      <h3 class='name'>Eloisa Fernandez Iskandar</h3>
      <%= t('teachers.elo') %>
    </div>
  <div class="col-sm-6"><img class="brick-image" src="/images/about_artur.JPG" alt="schedule" />
    <h3 class='name'>Artur Chruszcz</h3>
    <%= t('teachers.artur') %>
  </div>

</div>

